{# Facebook Init Script
   Reference: https://developers.facebook.com/docs/plugins/
#}
{% macro fb_init(app_id,locale) %}
    {% spaceless %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/{{ locale|default('en_US') }}/all.js#xfbml=1&appId={{ app_id }}";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {% endspaceless %}
{% endmacro %}

{# Facebook Like Button
   Reference: https://developers.facebook.com/docs/reference/plugins/like/
#}
{% macro fb_like_button(url,layout_style,width,show_send_button,show_face,display_verb,color_scheme,font) %}
    <div class="fb-like" data-href="{{ url }}" data-send="{{ show_send_button|default('false') }}" data-layout="{{ layout_style|default('button_count') }}" data-width="{{ width|default('450') }}" data-show-faces="{{ show_face|default('false') }}" data-action="{{ display_verb|default('like') }}" data-colorscheme="{{ color_scheme|default('light') }}" data-font="{{ font|default('arial') }}"></div>
{% endmacro %}

{# Facebook Like Box
   Reference: https://developers.facebook.com/docs/reference/plugins/like-box/
#}
{% macro fb_like_box(url,width,show_face,show_stream,show_header,border_color) %}
    <div class="fb-like-box" data-href="{{ url }}" data-width="{{ width|default('292') }}" data-show-faces="{{ show_face|default('false') }}" data-stream="{{ show_stream|default('true') }}" data-header="{{ show_header|default('false') }}" data-border-color="{{ border_color|default('AAAAAA') }}"></div>
{% endmacro %}



{# Twitter Follow Button
   Réference: https://twitter.com/about/resources/buttons#follow
#}
{% macro tw_follow_btn(username,lang,show_count) %}
    <a href="https://twitter.com/{{ username }}" class="twitter-follow-button" data-show-count="{{ show_count|default('false') }}" data-lang="{{ lang|default('en') }}">Follow @{{ username }}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endmacro %}

{# Twitter Share Button
   Reference: https://twitter.com/about/resources/buttons#tweet
#}
{% macro tw_share_btn(url,lang,show_count,text,via,recommend,hashtags) %}
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url }}" data-text="{{ text }}" data-via="{{ via }}" data-lang="{{ lang|default('en') }}" data-related="{{ recommend }}" data-count="{{ show_count|default('false') }}" data-hashtags="{{ hashtags }}">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endmacro %}



{# Google widget init script
   Reference: http://www.google.com/webmasters/+1/button/
#}
{% macro gplusone_init(lang) %}
<script type="text/javascript">
  window.___gcfg = {lang: '{{ lang|default('en') }}'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% endmacro %}

{# Google +1 Button
   Reference: http://www.google.com/webmasters/+1/button/
#}
{% macro gplusone_btn(url,size,annotation) %}
    <div class="g-plusone" data-size="{{ size|default('medium') }}" data-href="{{ url }}" data-annotation="{{ annotation|default('bubble') }}"></div>
{% endmacro %}